#about
    padding: 96px 200px
    .imgbox
        margin: 50px 40px
        width: 170px
        height: 170px
        border-radius: 50%
        overflow: hidden
        vertical-align: middle
    h2,h4
        text-align: right
    h5,h6
        text-align: left
    .textbox
        margin: 50px 20px
        width: 400px
    .txt
        margin-left: 430px